@media(max-width:1024px) {
    .customer-review {
        height: 285px;
    }

    .prod {
        min-height: 460px;
    }
}

@media(max-width:991px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }

    .brief_text {
        width: 100%;
    }

    .feature_prod {
        width: 100%
    }

    .prod {
        min-height: 500px;
    }

}

@media(max-width:767px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    .navbar-nav {
        padding-top: 20px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-nav .nav-item .nav-link {
        margin-bottom: 5px;
    }

    .feature_prod {
        width: 100%;
    }

    .prod {
        min-height: auto;
    }

    .prod h2 {
        font-size: 19px;
    }

    .brief_text {
        width: 100%;
    }

    .cta {
        text-align: center;
    }


    .visit {
        margin-top: 20px;
    }
}

@media(max-width:575px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    .navbar-nav {
        padding-top: 20px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-nav .nav-item .nav-link {
        margin-bottom: 5px;
    }

    .btn-cstm {
        font-size: 14px;
    }

    .cp60 {
        padding: 40px 10px;
    }

    .banner_text h2{
        font-size: 18px;
    }

    .brief{
        padding: 40px 0px;
    }

    .brief_text {
        width: 100%;
    }

    .feature_prod {
        width: 100%;
    }

    .ftb {
        padding: 0;
        padding: 5px;
    }

    .price {
        flex-direction: column;
        align-items: start;
    }

    .prod a{
        font-size: 10px;
    }

    .gy-4 {
        --bs-gutter-y: 10px !important;
    }

    .prod {
        margin-bottom: 25px;
        padding: 10px;
        min-height: 335px;
    }

    .prod p {
        font-size: 14px;
    }

    .customer-review {
        height: auto;
    }

    .visit {
        margin-top: 20px;
    }
}

@media(max-width:375px){
    .ftb{
        width: 100%;
    }
}